body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

div {
    /*width: 300px;*/
    /*border: 15px lightgray;*/
    padding: 10px;
    margin: 5px;
}

.message{
    border: 1px solid rgb(216, 217, 221);
    border-radius: 5px;
    margin: .5em;
    padding: .5em;
}
.message-info{
    background-color: rgb(209, 222, 252);
    color: rgb(59, 53, 146);
}

.message-success {
    background-color: rgb(215, 242, 220);
    color: rgb(85, 134, 94);
    /*color: rgb(215, 242, 220);*/

}

.message-warning{
    background-color: rgb(253, 251, 206);
    color: rgb(167, 155, 85);
}

.message-error {
    background-color: rgb(245, 212, 215);
    color: rgb(141, 66, 80);

}