/*my work*/

/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');*/
/*body {*/
/*    font-family: 'Roboto', sans-serif;*/
/*    !*color: deeppink;*!*/
/*    text-align: center;*/
/*    flex-grow: inherit;*/
/*}*/

/*h1 {*/
/*    color: cornflowerblue;*/
/*    !*text-align: center;*!*/
/*}*/

/*ul li{*/
/*    !*list-style: none;*!*/
/*    !*text-align: left;*!*/
/*    padding: 0;*/
/*}*/

/*.container-fluid{*/
/*    width: 100px;*/
/*}*/
/*.container {*/
/*    text-align: center;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.row-a{*/
/*    color: #cbffcd;*/
/*}*/

/*.row-b {*/
/*    color: deeppink;*/
/*}*/

/*.row-c{*/
/*    color: coral;*/
/*}*/

/*ans*/
* {
    font-family: 'Hind', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Catamaran', sans-serif;
}

main h2 {
    color: steelblue;
}

header {
    border-bottom: forestgreen solid 3px;
}